@model PISBusinessLogic.BindingModels.BookBindingModel
@{
    ViewData["Title"] = "Книги";
}

<div class="text-center text-black-50">
    <h1>Книги</h1>
</div>
<hr/>
<strong> <a class="btn btn-dark btn-sm" href="/Books/AddBook">Добавить книгу</a></strong>
 <strong> <a class="btn btn-dark btn-sm" href="/Books/Books">Выборки по книгам</a></strong>
<strong> <a class="btn btn-dark btn-sm" href="/Books/BookPrice">Коррекция стоимости проката</a></strong>
<br/>
<hr />
<form asp-controller="Books" asp-action="ListOfBooks" method="get">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">По названию:</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.Name)
            <br />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">По автору:</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.Author)
            <br />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">По жанру:</label>
        <div class="col-sm-4">
            <select class="custom-select" name="GenreId" id="GenreId">
                <option value="" selected disabled hidden>Выберите жанр</option>
                @foreach (PISBusinessLogic.ViewModels.GenreViewModel genre in ViewBag.Genres)
                {
                    <option value="@genre.Id">@genre.Name</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-4">
            <input type="submit" value="Найти" class="btn btn-dark" />
            <hr />
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <td>Название</td>
        <td>Автор</td>
        <td>Жанр</td>
        <td>Издательство</td>
        <td>Год издания</td>
        <td>Цена проката, руб./день</td>
        <td>Статус</td>
    </tr>
    @foreach (var genre in ViewBag.Genres)
    {
        @foreach (var book in ViewBag.Books)
        {
            @if (genre.Id == book.GenreId)
            {

                <tr>
                    <td>@book.Name</td>
                    <td>@book.Author</td>
                    <td>@genre.Name</td>
                    <td>@book.PublishingHouse</td>
                    <td>@book.Year</td>
                    <td>@genre.Price</td>
                    <td>@book.Status</td>
                    <td>
                        @Html.ActionLink("Справка о наличии книг в формате (.docx)", "Available", "Reports", new { id = @book.Id }, new { @class = "btn btn-dark btn-sm" })
                    </td>
                </tr>
            }
        }
    }
</table>