@model PISBusinessLogic.BindingModels.UserBindingModel
@{
    ViewData["Title"] = "Читатели";
}

<div class="text-center text-black-50">
    <h1>Читатели</h1>
</div>
<hr />
<p> <strong> <a class="btn btn-dark btn-sm" href="/Readers/ReadersWithOverdue">Читатели просрочившие срок сдачи книг</a></strong></p>
<hr />
<form asp-controller="Readers" asp-action="Readers" method="get">
    <div class="col-sm-8">
        Найти по ФИО:
        @Html.TextBoxFor(x => x.FIO)
        <input type="submit" value="найти" class="btn btn-dark btn-sm" />
    </div>
</form>
@if (ViewBag.Users != null)
{
    <br />
    <div class="text-center text-black-50">
        <h1>Читатели с действующим читательским билетом</h1>
    </div>
    <hr />
    <table class="table">


        <tr>

            <td>ФИО</td>
            <td>Логин</td>
            <td>Читательский билет</td>
            <td>Заключить договор</td>
        </tr>
        @foreach (var user in ViewBag.Users)
        {
            <tr>
                <td>@user.FIO</td>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-dark btn-sm" href="/Readers/AddLibraryCard/@user.Id">просмотреть читательский билет</a>
                </td>
                <td>
                    @Html.ActionLink("заключить договор", "AddContractBooks", new { email = @user.Email, id = ViewBag.Create }, new { @class = "btn btn-dark btn-sm" })
                </td>
            </tr>
        }

    </table>
}
@if ( ViewBag.UsersWithoutCard != null)
{
    <br />
    <div class="text-center text-black-50">
        <h1>Читатели без читательского билета</h1>
    </div>
    <hr />
    <table class="table">
        <tr>

            <td>ФИО</td>
            <td>Логин</td>
            <td>Читательский билет</td>
            <td>Продление</td>
        </tr>

        @foreach (var user2 in ViewBag.UsersWithoutCard)
        {
            <tr>
                <td>@user2.FIO</td>
                <td>@user2.Email</td>
                <td>
                    <a class="btn btn-dark btn-sm" href="/Readers/AddLibraryCard/@user2.Id">создать билет</a>
                </td>
            </tr>
        }
    </table>
}
@if ( ViewBag.UsersWithCardOverdue != null)
{
    <br />
    <div class="text-center text-black-50">
        <h1>Читатели с недействующим читательским билетом</h1>
    </div>
    <hr />
    <table class="table">
        <tr>

            <td>ФИО</td>
            <td>Логин</td>
            <td>Читательский билет</td>
            <td>Продление</td>
        </tr>

        @foreach (var user2 in ViewBag.UsersWithCardOverdue)
        {
            <tr>
                <td>@user2.FIO</td>
                <td>@user2.Email</td>
                <td>
                    <a class="btn btn-dark btn-sm" href="/Readers/AddLibraryCard/@user2.Id">просмотреть читательский билет</a>
                </td>
                <td>
                    @Html.ActionLink("продлить билет", "AddLibraryCard", new { id = @user2.Id, prolong = true }, new { @class = "btn btn-dark btn-sm" })
                </td>
            </tr>
        }
    </table>
}