
@{
    ViewData["Title"] = "Забронированные книги";
}
<div class="text-center text-black-50">
    <h1>Забронированные книги</h1>
</div>
<hr />
    <table class="table">
        <tr>
            <td>Название</td>
            <td>Автор</td>
            <td>Жанр</td>
            <td>Издательство</td>
            <td>Год издания</td>
            <td>Цена проката, руб./день</td>
        </tr>
        @foreach (var genre in ViewBag.Genres)
        {
            @foreach (var book in ViewBag.Books)
            {
                @if (genre.Id == book.GenreId)
                {

                    <tr>
                        <td>@book.Name</td>
                        <td>@book.Author</td>
                        <td>@genre.Name</td>
                        <td>@book.PublishingHouse</td>
                        <td>@book.Year</td>
                        <td>@genre.Price</td>
                    </tr>
                }
            }
        }
    </table>
