@using PISCourseworkARMReader.Controllers
@model CreateTableModel
@{
    ViewData["Title"] = "Перекрестный отчет";
}

<div class="text-center text-black-50">
    <h1>Перекрестный отчет</h1>
</div>
<form asp-controller="User" asp-action="CreateTable" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Введите год</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.Year)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4">
            <input type="submit" value="Сформировать" class="btn btn-dark" />
            <hr />
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <td>Название</td>
        <td>Автор</td>
        <td>Издательство</td>
        <td>Год издания</td>
        <td>Статус</td>
    </tr>
    @foreach (var book in ViewBag.Books)
    {

                <tr>
                    <td>@book.Name</td>
                    <td>@book.Author</td>
                    <td>@book.PublishingHouse</td>
                    <td>@book.Year</td>
                    <td>@book.Status</td>
                </tr>
    }
</table>