@{
    ViewData["Title"] = "Распределение зарплаты библиотекарей по месяцам";
}
<div class="text-center text-black-50">
    <h3>Распределение зарплаты библиотекарей по месяцам</h3>
</div>
<hr />
<form asp-controller="Report" asp-action="DistributionSalary">
    <div class="col-sm-8">
        Дата:<br>
        <input type="date" name="date" />
    </div>
    <br />
    <div class="col-sm-8">
        <input type="submit" value="Вывести" class="btn btn-dark btn-sm" />
    </div>
</form>
@Html.ValidationSummary(true, "", new { @style = "color: black" })
@if (ViewBag.Librarians != null && ViewBag.Sum != null)
{
    <table class="table">
        <tr>
            <td>Библиотекарь</td>
            <td>Январь</td>
            <td>Февраль</td>
            <td>Март</td>
            <td>Апрель</td>
            <td>Май</td>
            <td>Июнь</td>
            <td>Июль</td>
            <td>Август</td>
            <td>Сентябрь</td>
            <td>Октябрь</td>
            <td>Ноябрь</td>
            <td>Декабрь</td>
        </tr>
        @foreach (var r in ViewBag.Librarians)
        {
            @foreach (var i in ViewBag.Sum)
            {
                @foreach (var k in i)
                {
                    if (k.Key == r.Id)
                    {
                        <tr>
                            <td>@r.FIO</td>

                            <td>@k.Value.Item1</td>

                            <td>@k.Value.Item2</td>

                            <td>@k.Value.Item3</td>

                            <td>@k.Value.Item4</td>

                            <td>@k.Value.Item5</td>

                            <td>@k.Value.Item6</td>

                            <td>@k.Value.Item7.Item1</td>

                            <td>@k.Value.Item7.Item2</td>

                            <td>@k.Value.Item7.Item3</td>

                            <td>@k.Value.Item7.Item4</td>

                            <td>@k.Value.Item7.Item5</td>

                            <td>@k.Value.Item7.Item6</td>
                        </tr>
                    }
                }
            }
        }

    </table>
}

